


    /*nav -styles*/
.header{
    padding: 17px 114px;
}

nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    justify-content:space-between;
    padding-left: 0;
}
.nav-title{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 23px;
    font-weight: 700;
}
.nav-button{
    padding: 11px 22px;
    box-sizing: border-box;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    color: rgb(0, 106, 80);
    font-family: Fira Sans;
    font-size: 13px;
    font-weight: 600;
}
/* banner styles */
.banner{
    border-radius: 24px;
    background: rgb(198, 228, 214);
    margin: 14px 114px 57px 114px;
}
.banner-container{
    display: flex;
    align-items: center;
    justify-content: space-around
}
.banner-content{
    align-items: center;
    margin: 84px 43px;
    width: 441px;
}
.banner-title{
    color: rgba(14, 14, 14, 0.5);
    font-family: Fira Sans;
    font-size: 17px;
    font-weight: 500;  
}
.banner-subtitle{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 40px;
    font-weight: 700;
}
.banner-btn{
    border-radius: 8px;
    border: none;
    background: rgb(0, 106, 80);
    padding: 13px 24px 13px 24px;
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 13px;
    font-weight: 600
}
.hero{
    width: 336px;
    height: 284px;
}
/* pillars styles */
main{
    margin: 14px 114px 57px 114px;
}
.pillars{
    align-items: center;
}
.pillars-about{
    display: flex;
    flex-direction: row;
    justify-content: space-between
    align-items: flex-start;
    gap: 17px;
    padding: 17px 0;
}
.pillars-name{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 30px;
    font-weight: 700;
}
.pillars-about div{
    box-sizing: border-box;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    background: rgb(255, 255, 255);
    padding: 17px;
}
.pillar-title{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 15px;
    font-weight: 700;
}
.pillar-subtitle{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 12px;
    font-weight: 400;
}
/* vision styles */
.vision-box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 24px;
}
.vision-future{
    color: rgb(14, 14, 14);
    font-family: Fira Sans;
    font-size: 30px;
    font-weight: 700;
}
.vision-future-subtitle{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 12px;
    font-weight: 400;
}
.box-1{
    box-sizing: border-box;
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
    padding: 17px;
}
.box-2{
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(198, 228, 214);
    padding: 17px;
}
.box-3{
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(247, 235, 207);
    padding: 17px;
}
.vision-name{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 14px;
    font-weight: 700;
}
.vision-description{
    color: rgba(14, 14, 14, 0.7);
    font-family: Fira Sans;
    font-size: 12px;
    font-weight: 400;
}
.vision-btn-1{
    border-radius: 8px;
    background: rgb(84, 144, 245);
}
.vision-btn-2{
    border-radius: 8px;
    background: rgb(9, 161, 92);
}
.vision-btn-3{
    border-radius: 8px;
    background: rgb(255, 194, 57);
}
.font-color{
    color: rgb(255, 255, 255);
    font-family: Fira Sans;
    font-size: 12px;
    font-weight: 600;
    border: none;
    padding: 5px 10px;
}